
body {
	overflow-y: scroll;
  background-image: url('../src/static/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#LOGIN {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#LOGIN .form-heading {
	font-size: 30px;
	text-align: center;
}
